<?xml version="1.0" encoding="utf-8"?>

<groups>

    <group name="Emergency, health" foldername="health">

        <icon name="Hospital" tag="amenity" value="hospital" tag2="" value2="" />
        <icon name="Pharmacy" tag="amenity" value="pharmacy" tag2="" value2="" />
        <icon name="Emergency Phone" tag="emergency" value="phone" tag2="" value2="" />

        <icon name="Doctors" tag="amenity" value="doctors" tag2="" value2="" />
        <icon name="Veterinary" tag="amenity" value="veterinary" tag2="" value2="" />
        <icon name="Fire station" tag="amenity" value="fire_station" tag2="" value2="" />

        <icon name="Police" tag="amenity" value="police" tag2="" value2="" />
        <icon name="Dentist" tag="amenity" value="dentist" tag2="" value2="" />
        <icon name="Social facility" tag="amenity" value="social_facility" tag2="" value2="" />

        <icon name="Ambulance station" tag="emergency" value="ambulance_station" tag2="" value2="" />

    </group>


    <group name="Traffic, transportation" foldername="traffic">

        <icon name="Parking" tag="amenity" value="parking" tag2="" value2="" />
        <icon name="Bus station" tag="amenity" value="bus_station" tag2="" value2="" />
        <icon name="Speed camera" tag="highway" value="speed_camera" tag2="" value2="" />

        <icon name="Private parking" tag="amenity" value="parking" tag2="access" value2="customers" />
        <icon name="Public transport station" tag="public_transport" value="station" tag2="" value2="" />
        <!--      TODO: add  'Buffer zone'  -->

        <icon name="Paid parking" tag="amenity" value="parking" tag2="fee" value2="yes" />
        <icon name="Public transport platform" tag="public_transport" value="platform" tag2="" value2="" />
        <icon name="Subway entrance" tag="railway" value="subway_entrance" tag2="" value2="" />

        <icon name="Multi-storey parking" tag="amenity" value="parking" tag2="parking" value2="multi-storey" />
        <icon name="Railway halt" tag="railway" value="halt" tag2="" value2="" />
        <icon name="Aerialway halt" tag="aerialway" value="station" tag2="" value2="" />

        <icon name="Underground parking" tag="amenity" value="parking" tag2="parking" value2="underground" />
        <icon name="Ferry terminal" tag="amenity" value="ferry_terminal" tag2="" value2="" />
        <!--      TODO: add  'Large Airport'  -->
        <icon name="Large aerodrome" tag="aeroway" value="aerodrome" tag2="aerodrome" value2="international" />

        <icon name="Bicycle parking" tag="amenity" value="bicycle_parking" tag2="" value2="" />
        <icon name="Tram stop" tag="railway" value="tram_stop" tag2="" value2="" />
        <icon name="Aerodrome" tag="aeroway" value="aerodrome" tag2="" value2="" zoom="19" />

        <icon name="Motorcycle parking" tag="amenity" value="motorcycle_parking" tag2="" value2="" />
        <icon name="Traffic signals" tag="highway" value="traffic_signals" tag2="" value2="" />
        <icon name="Helipad" tag="aeroway" value="helipad" tag2="" value2="" />

        <icon name="Taxi parking" tag="amenity" value="taxi" tag2="" value2="" />
        <icon name="Roundabout" tag="highway" value="mini_roundabout" tag2="" value2="" />
        <icon name="Gate number in the airport" tag="aeroway" value="gate" tag2="" value2="" />

        <icon name="Railway station" tag="railway" value="station" tag2="" value2="" />
        <icon name="Dead end" tag="noexit" value="yes" tag2="" value2="" />
        <icon name="Bump" tag="traffic_calming" value="bump" tag2="" value2="" />


        <!--        Unsorted -->

<!--        &lt;!&ndash;           TODO:    'Disused railway station' returns incorrect icon. Fix in in styles? &ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;          <icon name="Disused railway station" tag="disused:railway" value="station" tag2="" value2="" />  &ndash;&gt;-->
<!--        &lt;!&ndash;          <icon name="Disused railway station" tag="" value="" tag2="disused:railway" value2="station" />  &ndash;&gt;-->

<!--        <icon name="Subway station" tag="railway" value="station" tag2="station" value2="subway" />-->
<!--        <icon name="Spaceport" tag="aeroway" value="spaceport" tag2="" value2="" />-->
<!--        <icon name="Elevator" tag="highway" value="elevator" tag2="" value2="" />-->
<!--        <icon name="Traffic mirror" tag="highway" value="traffic_mirror" tag2="" value2="" />-->
<!--        <icon name="Highway services" tag="highway" value="services" tag2="" value2="" />-->

    </group>

</groups>
