.DS_Store
info.bliki.wiki/
java-tools/OsmAndServerUtilities/yml-translations/
WikipediaConverter/build
WikipediaConverter/target
WikipediaConverter/gwtwiki/
OsmAndMapCreator/regions.ocbf
obf-generation/basemap/admin_levels/*.osm
*.pyc
