build/
.gradle
.kotlin
*/out
*/.classpath
*/.gradle
*/gradle
*/.project
*/.settings
*/.idea
*/bin
*/build
/local.properties
.idea
*.iml
regions.ocbf
.attach_*
OsmAndServer/src/main/resources/colorPalette.zip
OsmAndMapCreatorUtilities/src/main/resources/page.txt
OsmAndMapCreatorUtilities/brands.html

