build/
.gradle
*/out
*/.classpath
*/.gradle
*/gradle
*/.project
*/.settings
*/.idea
*/bin
*/build
/local.properties
.idea
*.iml
regions.ocbf
.attach_*
OsmAndMapCreatorUtilities/src/main/resources/page.txt
