admin.api-oauth2-url: https://api.github.com/orgs/osmandapp/teams/serveradmins

google.androidPublisher.clientSecret: ${ANDROID_PUBLISHER_CLIENT_SECRET_JSON:}

# local storage to store files in db
storage:
  default: ${STORAGE_DEFAULT:local}
  datasource.s3:
    type: s3
    endpoint: ${STORAGE_S3_ENDPOINT_URL}
    region: ${STORAGE_S3_REGION}
    bucket: ${STORAGE_S3_BUCKET}
    accesskey: ${STORAGE_S3_ACCESS_KEY:}
    secretkey: ${STORAGE_S3_SECRET_KEY:}

logging:
  file: logs/server.log
  config: classpath:logback-spring.xml
  purchase.debug: false
  pattern.console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow} %-5level [%thread]: %message%n%ex{10}"


osmand:
  night-builds-json.location: https://dl2.osmand.net/night-builds-json/
  # ! should contain folders or symlinks indexes, night-builds, gen !
  files.location: ${user.dir}/../../../
  gen.location: ${osmand.files.location}/gen
  web.location: ${osmand.files.location}/web-server-config
  srtm.location: ${SRTM_LOCATION:}
  weather.location: ${WEATHER_LOCATION:}
  wiki.location: ${osmand.files.location}/wikidata/wikidata_commons_osm.sqlitedb
  heightmap.location: ${HEIGHTMAP_LOCATION:}

server:
  port: 8080
  servlet.session:
    timeout: 7d
    cookie.secure: true
    cookie.same-site: none
    # store-dir: ${osmand.files.location}/session/
    # persistent: true
  tomcat.threads.max: 5
  connection-timeout: 120s
  compression.enabled: true
  compression.min-response-size: 4096

osmand.routing:
  hh-only-limit: ${HH_ONLY_LIMIT:100} # Maximum Start-End direct distance before HH routing is enforced (km)

tile-server:
  obf.location: ${OBF_LOCATION:}
  obf.ziplocation: ${OBF_LOCATION_ZIP:}
  routeObf.location: ${ROUTE_OBF_LOCATION:}
  metatile-size: 2048 # render tiles as 2048 x 2048
  style:
    df: style=default,tilesize=256
    hd: style=default,tilesize=512
    topo: style=topo,tilesize=256
    topo-hd: style=topo,tilesize=512
    skimap: style=skimap,tilesize=256
    snowmobile: style=snowmobile,tilesize=256
    nautical: style=nautical,tilesize=256
    desert: style=desert,tilesize=256
    offroad: style=offroad,tilesize=256
    touring: style=Touring-view_(more-contrast-and-details),tilesize=256
  cache:
    location: ${TILE_SERVER_CACHE_LOCATION:tiles}
    heightmap-location: ${TILE_SERVER_CACHE_LOCATION:heightmaps}/heightmaps
    max-zoom: 16

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring.mvc.async.request-timeout: 600000
spring:
  session:
    redisPort: ${REDIS_PORT:}
    redisHost: ${REDIS_HOST:}
  servlet:
    multipart:
      max-file-size: ${SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE:50MB}
      max-request-size: ${SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE:50MB}
      enabled: true
  jpa:
    properties.hibernate.jdbc.lob.non_contextual_creation: true
    hibernate.ddl-auto: update
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/osmanddb}
    username: ${DB_USER:test}
    password: ${DB_PWD:test}
  changesetdatasource:
    url:
    username: ${DB_USER:test}
    password: ${DB_PWD:test}
  wikidatasource:
    url: ${WIKI_DB_URL:}
    username: ${WIKI_DB_USER:}
    password: ${WIKI_DB_PWD:}
    driverClassname: ${WIKI_DBCLASS_NAME:}
  osmgpxdatasource:
    url: ${OSM_GPX_DB_CONN:}
    username: ${OSM_GPX_DB_USER:}
    password: ${OSM_GPX_DB_PWD:}
  monitordatasource:
    url:
    username:
    password:
    driverClassname:
  testdatasource:
    url: jdbc:sqlite:${osmand.files.location}/test.db
    driverClassname: org.sqlite.JDBC
  web.resources.static-locations: file:${osmand.web.location}
  thymeleaf:
    prefix: file:${osmand.web.location}/templates/
    cache: false
  security:
    oauth2:
      client:
        registration:
          github:
            clientId: ${GITHUB_CLIENT_ID:42f89eddbf81c54c518a}
            clientSecret: ${GITHUB_CLIENT_SECRET:180c2863aaabb15c7e779bb192c88f1a726507d5}
            scope: read:org,user:email
            # creds for localhost


# classpath:/static/

mapillary.accesstoken: ${MAPILLARY_ACCESS_TOKEN:}

monitoring:
  enabled: false
  changes.feed:
  changes.publish.channel:
  project.db:
  project.token:

geoip.city.dat.v4: "/usr/share/GeoIP/GeoIPCity.dat"
geoip.city.dat.v6: "/usr/share/GeoIP/GeoIPCityv6.dat"

# Directory for storing downloaded CSV samples and Overpass API endpoint used by TestSearchService
test:
  csv:
    dir: ${osmand.files.location}/csv
  overpass:
    url: https://overpass-api.de/api/interpreter

---
spring.jpa.hibernate.ddl-auto: validate

osmand.files.location: /var/www-download
osmand.web.location: ${osmand.files.location}/website

logging:
  file: /var/log/osmand-server-logs/error.log
  config: classpath:logback-spring.xml

server:
  port: 8090
  servlet.session.timeout: 7d
  # use-forward-headers: true
  forward-headers-strategy: native
  # session.timeout: 18000 #432000 #servlet.session.timeout
  address: 127.0.0.1 #keep it behind proxy
  tomcat:
    redirect-context-root: false
    threads.max: 50
    protocol_header: x-forwarded-proto
    remote_ip_header: x-forwarded-for
    accesslog:
      directory: /var/log/osmand-server-logs/
      enabled: true
      rotate: false
      pattern: '%h %l %u %t "%r" %s %b %D "%{Referer}i" "%{User-Agent}i"'

spring:
  config:
    activate:
      on-profile: production
  resources.static-locations: file:${osmand.web.location}
  thymeleaf.prefix: file:${osmand.web.location}/templates/