<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<springProfile name="default">
		
		<!-- debug security package -->
		<!-- <logger name="org.springframework.security" level="DEBUG" /> -->
		<!-- hibernate show sql -->
		<logger name="org.hibernate.SQL" level="DEBUG" />
		<!--  <logger name="org.hibernate.type" level="TRACE" />  -->	
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="production">
	    <!--  
		<appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<file>${LOG_FILE}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
				<maxFileSize>10MB</maxFileSize>
				<totalSizeCap>5GB</totalSizeCap>
			</rollingPolicy>
		</appender>
 		-->
 		
 		<appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        	<file>/var/log/osmand-server-logs/error.log</file>
        	<append>true</append>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>ERROR</level>
			</filter>
			<encoder>
			    <pattern>%d %-5level [%thread]: %message%n%ex{full}</pattern>
				<!--   <pattern>${FILE_LOG_PATTERN}</pattern> -->
			</encoder>
    	</appender>
		<root level="INFO">
			<appender-ref ref="FILE_ERROR" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

</configuration>
