<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indexes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="pub/fragments/table_frag :: index_table (${region}, 'Table of indexes hosted on osmand.net')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${road_region}, 'Table of road indexes hosted on osmand.net')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${srtmcountry}, 'Table of srtm countries hosted on osmand.net')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${wiki}, 'Table of wiki hosted on osmand.net')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${wikivoyage}, 'Table of wikivoyage hosted on osmand.net')"></div>


</body>
</html>