<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osmand Local Indexes List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Osmand Local Indexes List</h1>
    <div>
        <table border="1">
            <tr>
                <th>
                    <a th:href="@{/list?sortby=name(asc=${asc})}">File</a>
                </th>
                <th>
                    <a th:href="@{/list?sortby=date(asc=${asc})}">Date</a>
                </th>
                <th>
                    <a th:href="@{/list?sortby=size(asc=${asc})}">Size</a>
                </th>
                <th>
                    <a th:href="@{/list?sortby=descr(asc=${asc})}">Description</a>
                </th>
            </tr>
            <tr th:each="region : ${regions}">
                <td>
                    <a th:href="@{/download?standard=yes(file=${region.name})}" th:text="${region.name}"></a>
                </td>
                <td th:text="${region.date}"></td>
                <td th:text="${region.size}"></td>
                <td th:text="${region.description}"></td>
            </tr>
        </table>
    </div>
</body>
</html>